/* ===============================================
Fonts
=============================================== */

@font-face {
    font-family: "RobotoSlab";
    src: url("../fonts/RobotoSlab-VariableFont_wght.ttf") format('truetype');
  }
  
  @font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-VariableFont_wght.ttf") format('truetype');
  }
  
  @font-face {
    font-family: "CascadiaCode";
    src: url("../fonts/CascadiaCode.ttf") format('truetype');
  }
  
  /* ===============================================
  Global
  =============================================== */
  
  :root {
    /* for background */
    --background-color: #ffffff;
    --background-color-highlight: #ffffff;
  
    /* for headers */
    --main-color: #AC7336;
  
    /* for text */
    --text-color: #000000;
    --text-color-obscure: #25292c;
  
    /* used for links */
    --accent-color: #AC7336;
    --highlight-color: #c9d1d9;
    --after-color: #798ff8;
  
    /* if something is "not active" */
    --obscure-color: #525f94;
    
    /* fonts */
    --font-family-heading: RobotoSlab, Helvetica;
    --font-family-body: Quicksand, Helvetica, Arial, sans-serif;
    --font-family-code: CascadiaCode;
  
    /* others */
    scroll-behavior: smooth;
  }
  
  * {
    /* This is more intuitive than the default content-box */
    box-sizing: border-box;
    scroll-padding-top: 100px;
  }
  
  
  img {
    /* Prevent images from growing out of their parent container. */
    max-width: 100%;
  }
  
  /* ===============================================
  Banner
  =============================================== */
  .banner {
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex;
    color: red;
    background-color: var(--main-color);
    height: 80px;
    margin-left: 0;
    margin-bottom: 2vh;
    width: 100vw;
  }
  
  .banner > p {
    margin: 0;
    padding: 0;
  }
  
  /* ===============================================
  Body & Content
  =============================================== */
  nav.mobile,
  main {
    width: clamp(350px, 85vw, 1600px);
    padding: 0;
    margin: auto;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: var(--font-family-body);
    font-weight: 200;
    font-size: clamp(0.75rem, 1.25rem, 1.5rem);
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--background-color);
  }
  
  /* ===============================================
  Headers
  =============================================== */
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--main-color);
    font-family: var(--font-family-heading);
    font-size: clamp(1.5rem, 2rem, 2.5rem);
    font-weight: 400;
  }
  
  h1 {
    font-size: clamp(2.25rem, 2.75rem, 3.25rem);
  }
  
  /* ===============================================
  Links
  =============================================== */
  
  a {
    text-decoration: none;
    color: var(--accent-color);
  }
  
  a:hover {
    color: var(--highlight-color);
  }
  
  a:after {
    color: var(--accent-color);
  }
  
  /* https://www.30secondsofcode.org/css/s/hover-underline-animation */
  
  a.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
  a.hover-underline-animation:after {
    color: var(--after-color);
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--highlight-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  a.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  /* ===============================================
  Lists
  =============================================== */
  
  ul {
    list-style: none;
    margin: 2vw 0 2vw 0;
  }
  
  ul li::before {
    content: "\2022";
    color: var(--main-color);
    font-weight: bold;
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
  }
  
  ul li {
    margin: 1vw 0 1vw 0;
  }
  
  /* ===============================================
  Grids
  =============================================== */
  
  .grid-content {
    display: grid;
    grid-template-columns: 1fr;
    word-break: break-word;
  }
  
  /* ===============================================
  Footer
  =============================================== */
  footer {
    background-color: var(--main-color);
    color: var(--background-color);
    font-size: clamp(1rem, 1rem, 2rem);
    font-weight: bold;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
  }
  
  footer > p {
    margin: 0 10px 0 10px;
    padding: 0;
    text-align: center;
  }
  
  /* ===============================================
  Media Queries
  =============================================== */
  
  @media only screen and (min-width: 1200px) {
    .grid-content {
      display: grid;
      grid-template-columns: 5fr 2fr;
      grid-column-gap: 5vw;
      word-break: normal;
    }
    .grid-content-wrapper {
      grid-column: 1;
      grid-row: 1;
    }
    * {
      scroll-padding-top: 10px;
    }
    .banner {
      position: relative;
    }
  }
  
  @media only screen and (min-width: 1600px) {
    .user-cards-grid {
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: 1fr;
    }
    user-card {
      grid-row: 1;
    }
  }
  